<a class="title-link" href="/"><img src="images/PC_Banner.jpg" /></a>

<div class="description">
  Practice Catalogue is about––and in service of––the practices of writers and artists. 
  It’s edited by <a href="http://brandonkreitler.com/">Brandon Kreitler</a> (unattributed 
  posts are by the editor). Send content and comments to 
  <a href="mailto:practicecatalogue@gmail.com">practicecatalogue@gmail.com</a>
</div>
<div class="subscribe">
  <a href="http://tinyletter.com/practicecatalogue">Subscribe</a>
</div>
